@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

    ::after,
    ::before {
        box-sizing: inherit;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    line-height: normal;
}

body {
    padding: 1rem;
}

app-form {
    display: block;
}
